$fuente_principal : "Montserrat", sans-serif;

$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #fdda00;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$color-principal: #9779E6;
$color-principal-2: #735cad;
$color-principal-3: #4e3f74;
$white100: #FFF;
$g50: #FAFAFA;
$g100: #F5F5F5;
$g200: #EEEEEE;
$g300: #E0E0E0;
$g400: #BDBDBD;
$g500: #9E9E9E;
$g600: #757575;
$gc700: #616161;
$g800: #424242;
$g900: #212121;
$black100: #000;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
