@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-boletos {
    background-color: v.$verde;
    h3 {
        color: v.$blanco;
    }
    .boletos {
        @include m.contenedor;
        @include m.tablet {
            @include m.grid(2)
        }
    }
}
.pase {
    transition: transform .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
    &-nombre {
        color: v.$blanco;
        font-size: 3.6rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    &-header,
    &-footer {
        padding: .5rem;
        p {
            font-weight: 600;
            text-align: center;
            color: v.$blanco;
            margin: 0;
            padding: 1rem 0;
        }
    }
    &-header {
        background-color: v.$g900;
        border-radius: 1rem 1rem 0 0;
        p {
            text-transform: uppercase;
            font-size: 1.8rem;
        }
    }
    &-body {
        background-color: v.$blanco;
        ul {
            @include m.resetear-lista;
            li {
                font-size: 1.8rem;
                padding: 2rem;
                border-bottom: 2px solid v.$g200;
            }
        }
    }
    &-footer {
        background-color: v.$blanco;
        border-radius: 0 0 1rem 1rem;
        padding: 3rem;
        p {
            background-color: v.$color-principal;
            border-radius: 1rem;
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: darken(v.$color-principal, 10%);
            }
        }
    }
}